.window-frame, .window-frame:backdrop {
    box-shadow: 0 0 0 black;
    border-style: none;
    margin: 0;
    border-radius: 0;
}

.titlebar {
    border-radius: 0;
}

window decoration {
    margin: 0;
    border: 0;
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: .7rem;
    -VteTerminal-inner-border: .7rem;
}
